---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';

const documents = await getCollection('documents')
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/base/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Official website for GIC Patlot. PM Shri Atal Utrisht SBSM GMIC Patlot is a school affiliated with CBSE. It is situated in Patlot, Okhalkanda block, Nainital Uttarakhand." />
		<meta name="keywords" content="PM Shri AU SBSM GMIC Patlot, AU SBSM GIC Patlot, GIC Patlot, Patlot, Atal Utkrisht, Shaaheed Bahadur Singh Matiyali, SBSM">
		<meta property="og:title" content="PM Shri Atal Utkrisht SBSM GMIC Patlot">
		<meta property="og:description" content="Official website for GIC Patlot. PM Shri Atal Utrisht SBSM GIC Patlot is a school affiliated with CBSE. It is situated in Patlot, Okhalkanda block, Nainital Uttarakhand.">
		<meta property="og:image" content="https://gicpatlot.in/base/og.jpg">
		<meta property="og:url" content="https://gicpatlot.in/">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:title" content="PM Shri Atal Utkrisht SBSM GMIC Patlot">
		<meta property="twitter:description" content="Official website for GIC Patlot. PM Shri Atal Utrisht SBSM GIC Patlot is a school affiliated with CBSE. It is situated in Patlot, Okhalkanda block, Nainital Uttarakhand.">
		<meta property="twitter:image" content="https://gicpatlot.in/base/og.jpg">
		<title>Documents | PM Shri Atal Utkrisht SBSM GMIC Patlot</title>
	</head>
	<body class=" bg-bgCol text-text">
		<Navigation />
		<main class="max-w-[120rem] m-auto px-4 md:px-10 2xl:px-12 pt-24 md:pt-28">
            <div class=" flex flex-wrap gap-8 pb-12">
               { documents.map((doc) => {
                    return (
                       <a class="p-2 px-6 text-xl bg-secondary rounded-xl" href={doc.data.image}>{doc.data.name}</a>     
                    )
               })
               }
            </div>
            <Footer />
        </main>
	</body>
</html>