---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const images = await getCollection('gallery')
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/base/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Atal Utrisht SBSM GIC Patlot is a school affiliated with CBSE. It is situated in Patlot, Okhalkanda block, Nainital Uttarakhand." />
		<meta name="keywords" content="AU SBSM GMIC Patlot, AU SBSM GIC Patlot, GIC Patlot, Patlot, Atal Utkrisht, Shaaheed Bahadur Singh Matiyali">
		<meta property="og:title" content="Atal Utkrisht SBSM GMIC Patlot">
		<meta property="og:description" content="Atal Utrisht SBSM GIC Patlot is a school affiliated with CBSE. It is situated in Patlot, Okhalkanda block, Nainital Uttarakhand.">
		<meta property="og:image" content="https://gicpatlot.in/base/og.jpg">
		<meta property="og:url" content="https://gicpatlot.in/">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:title" content="Atal Utkrisht SBSM GMIC Patlot">
		<meta property="twitter:description" content="Atal Utrisht SBSM GIC Patlot is a school affiliated with CBSE. It is situated in Patlot, Okhalkanda block, Nainital Uttarakhand.">
		<meta property="twitter:image" content="https://gicpatlot.in/base/og.jpg">
		<title>Gallery | Atal Utkrisht SBSM GMIC Patlot</title>
	</head>
	<body class=" bg-bgCol text-text">
		<Navigation />
		<main class="max-w-[120rem] m-auto px-4 md:px-10 2xl:px-12 pt-24 md:pt-28">
            <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pb-12">
               { images.map((image) => {
                    return (
                            <Image class='pop-image object-cover rounded w-full sm:aspect-[1000/615]' src={image.data.image} alt={image.slug} width={300} height={300}/>
                    )
               })
               }
            </div>
			<div id="popover" class=" hidden fixed z-50 place-items-center inset-0 w-full h-full bg-[rgb(0_0_0/50%)] px-2">
				<img class="max-w-[80%] max-h-[80vh] object-contain" id="popoverImage" src="" alt="">
			</div>
            <Footer />
        </main>
	</body>

	<script>
		const images = document.querySelectorAll(".pop-image")
		const popover = document.getElementById('popover');
        const popoverImage = document.getElementById('popoverImage');

		images.forEach((image) => {
			image.addEventListener('click', () => {
				const src = image.getAttribute('src')
				const alt = image.getAttribute('alt')

				popoverImage.setAttribute("src", src)
				popoverImage.setAttribute("alt", alt)
				popover.style.display = 'grid'
			})
		})

		popover.addEventListener("click", () => {
			popover.style.display = 'none'
		})

		popoverImage.addEventListener("click", (e) => {
			e.stopPropagation()
		})
		
		document.addEventListener("keydown", (e) => {
		if (e.key === "Escape") {
			popover.style.display = 'none';
		}
	});
	</script>
</html>