---
import { Image } from "astro:assets";
import fullLogo from "../images/full-logo.webp"
---
<footer>
    <div class="flex flex-col md:flex-row justify-between py-8 gap-8 md:gap-0 border-y border-y-text">
        <Image class=" self-center" src={fullLogo} alt="Atal Utkrisht SBSM GIC Patlot"/>
        <div>
            <h3 class="text-lg pb-1 font-medium">Useful Links</h3>
            <ul>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/documents">Documents</a></li>
                <li><a href="/tc">TC</a></li>
                <li><a href="/results">Results</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg pb-1 font-medium">Get in touch</h3>
            <ul>
                <li class=" pb-1">
                    <a class="flex gap-2 items-center" href="https://maps.app.goo.gl/7E1Hg85yer98pzg2A">
                        <svg class=" flex-shrink-0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M8.00002 7.99992C8.36669 7.99992 8.68069 7.86947 8.94202 7.60859C9.20335 7.3477 9.3338 7.0337 9.33335 6.66659C9.33335 6.29992 9.20291 5.98614 8.94202 5.72525C8.68113 5.46436 8.36713 5.3337 8.00002 5.33325C7.63335 5.33325 7.31958 5.46392 7.05869 5.72525C6.7978 5.98659 6.66713 6.30036 6.66669 6.66659C6.66669 7.03325 6.79735 7.34725 7.05869 7.60859C7.32002 7.86992 7.6338 8.00036 8.00002 7.99992ZM8.00002 14.6666C6.21113 13.1444 4.87513 11.7306 3.99202 10.4253C3.10891 9.11992 2.66713 7.91147 2.66669 6.79992C2.66669 5.13325 3.20291 3.80547 4.27535 2.81659C5.3478 1.8277 6.58935 1.33325 8.00002 1.33325C9.41113 1.33325 10.6529 1.8277 11.7254 2.81659C12.7978 3.80547 13.3338 5.13325 13.3334 6.79992C13.3334 7.91103 12.8918 9.11947 12.0087 10.4253C11.1256 11.731 9.78935 13.1448 8.00002 14.6666Z" fill="#0B0602"/>
                        </svg>
                        <span>Matela, P.O - Patlot, Okhalkanda, Nainital, Uttarakhand</span>
                    </a>
                </li>
                <li class="flex gap-2 items-center pb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M13.3 14C11.9111 14 10.5389 13.6973 9.18333 13.092C7.82778 12.4867 6.59444 11.6282 5.48333 10.5167C4.37222 9.40556 3.514 8.17222 2.90867 6.81667C2.30333 5.46111 2.00044 4.08889 2 2.7C2 2.5 2.06667 2.33333 2.2 2.2C2.33333 2.06667 2.5 2 2.7 2H5.4C5.55556 2 5.69444 2.05289 5.81667 2.15867C5.93889 2.26444 6.01111 2.38933 6.03333 2.53333L6.46667 4.86667C6.48889 5.04444 6.48333 5.19444 6.45 5.31667C6.41667 5.43889 6.35556 5.54444 6.26667 5.63333L4.65 7.26667C4.87222 7.67778 5.136 8.07489 5.44133 8.458C5.74667 8.84111 6.08289 9.21067 6.45 9.56667C6.79444 9.91111 7.15556 10.2307 7.53333 10.5253C7.91111 10.82 8.31111 11.0893 8.73333 11.3333L10.3 9.76667C10.4 9.66667 10.5307 9.59178 10.692 9.542C10.8533 9.49222 11.0116 9.47822 11.1667 9.5L13.4667 9.96667C13.6222 10.0111 13.75 10.0918 13.85 10.2087C13.95 10.3256 14 10.456 14 10.6V13.3C14 13.5 13.9333 13.6667 13.8 13.8C13.6667 13.9333 13.5 14 13.3 14Z" fill="#0B0602"/>
                    </svg>
                    <span>+91 8857550557</span>
                </li>
                <li class=" pb-1">
                    <a class="flex gap-2 items-center" href="mailto:gicpatlot1@gmail.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
                            <path d="M2.66665 13.8334C2.29998 13.8334 1.9862 13.703 1.72531 13.4421C1.46442 13.1812 1.33376 12.8672 1.33331 12.5001V4.50008C1.33331 4.13341 1.46398 3.81964 1.72531 3.55875C1.98665 3.29786 2.30042 3.16719 2.66665 3.16675H13.3333C13.7 3.16675 14.014 3.29741 14.2753 3.55875C14.5366 3.82008 14.6671 4.13386 14.6666 4.50008V12.5001C14.6666 12.8667 14.5362 13.1807 14.2753 13.4421C14.0144 13.7034 13.7004 13.8339 13.3333 13.8334H2.66665ZM7.99998 9.16675L13.3333 5.83341V4.50008L7.99998 7.83342L2.66665 4.50008V5.83341L7.99998 9.16675Z" fill="#0B0602"/>
                        </svg>
                        <span>gicpatlot1@gmail.com</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row items-center justify-between py-6">
        <span class="font-medium">Copyright © 2024 Atal Utkrisht SBSM GMIC. Patlot (Nainital)</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M29.3333 16.0001C29.3333 8.64008 23.36 2.66675 16 2.66675C8.63999 2.66675 2.66666 8.64008 2.66666 16.0001C2.66666 22.4534 7.25332 27.8267 13.3333 29.0667V20.0001H10.6667V16.0001H13.3333V12.6667C13.3333 10.0934 15.4267 8.00008 18 8.00008H21.3333V12.0001H18.6667C17.9333 12.0001 17.3333 12.6001 17.3333 13.3334V16.0001H21.3333V20.0001H17.3333V29.2668C24.0667 28.6001 29.3333 22.9201 29.3333 16.0001Z" fill="black"/>
        </svg>
    </div>
</footer>